USE [master]
GO
/****** Object:  Database [QuanLyKHHT]    Script Date: 12/8/2022 11:42:08 AM ******/
CREATE DATABASE [QuanLyKHHT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKHHT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyKHHT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKHHT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyKHHT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKHHT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKHHT]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 12/8/2022 11:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[MaNganh] [nchar](10) NOT NULL,
	[NganhHoc] [nvarchar](255) NOT NULL,
	[HeDaoTao] [nvarchar](50) NULL,
	[BoMon] [nvarchar](255) NULL,
	[DonViQuanLy] [nvarchar](255) NULL,
 CONSTRAINT [PK_DonVi] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHHT]    Script Date: 12/8/2022 11:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHHT](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaHocPhan] [nchar](10) NOT NULL,
	[TenHocPhan] [nvarchar](255) NULL,
	[SoTinChi] [nchar](10) NULL,
	[NamHoc] [nvarchar](50) NULL,
	[HocKy] [nchar](10) NULL,
 CONSTRAINT [PK_KHHT1] PRIMARY KEY CLUSTERED 
(
	[MaHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHHTMau]    Script Date: 12/8/2022 11:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHHTMau](
	[MaHocPhan] [nchar](10) NOT NULL,
	[TenHocPhan] [nvarchar](255) NOT NULL,
	[SoTinChi] [nchar](10) NOT NULL,
	[BatBuoc] [nchar](10) NULL,
	[TuChon] [nvarchar](50) NULL,
	[SoTietLT] [nchar](10) NULL,
	[SoTietTH] [nchar](10) NULL,
	[HocPhanTienQuyet] [nvarchar](50) NULL,
	[HKMo] [nvarchar](50) NULL,
	[HKDeNghi] [nchar](10) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/8/2022 11:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [nchar](10) NULL,
	[Lop] [nchar](10) NULL,
	[NganhHoc] [nvarchar](255) NULL,
	[KhoaHoc] [nchar](10) NULL,
	[Khoa] [nchar](255) NULL,
	[Thuoc] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[MaNganh] [nchar](10) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
